html{
    background-color: rgb(243, 243, 242);
    display: flex;
    justify-content: center;
    width: 100%;
}

body{
    max-height: 100vh;
    font-family: 'Playfair Display',serif;
}

.main-container{
    background-color: rgb(255, 255, 255);
    padding: 5px 15px 10px 15px;
    margin: 10px 20% 10px 20%;
    border-radius: 8px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
}

#div-personal-details{
    display: block;
}

.every-form-div{
    overflow: hidden;
}

.every-form-div div{
    float: left;
    width: 50%;
}

.form-label{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 10px 0px 7px 2.6%;
}

.input-field{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 90%;
    border: 1px solid rgb(212, 212, 210);
    border-radius: 3px;
    font-size: 20px;
    color: rgb(55, 61, 18);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.input-error-style{
    border: 2px solid red;
    outline: none;
}

.input-success-style{
    border: 2px solid rgb(5, 113, 57);
    outline: none;
}

.form-gender{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 95%;
    border: 1px solid rgb(212, 212, 210);
    border-radius: 3px;
    font-size: 20px;
    color: rgb(55, 61, 18);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.div-show-password{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 5px 0px 5px;
}

.div-show-password input[type='checkbox']{
    border: 2px solid blue;
    width: 20px;
    height: 20px;
}

.div-show-password label{
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
}

.div-password-hint{
    display: none;
    text-align: left
}

.div-password-hint li{
    font-size: 17px;
}

.phone-div-form{
    overflow: hidden;
    margin-left: 1%;
}

#phone-div-form-child1{
    float: left;
    width: 85%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

#phone-div-form-child2{
    float: left;
    text-align: left;
    width: 14%;
}

.form-label-phone{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 10px 0px 7px 0%;
}

#countryCodeSelect{
    background-color: rgb(255, 255, 255);
    padding: 10px 5px;
    width: 23%;
    border: 1px solid rgb(212, 212, 210);
    border-radius: 3px;
    font-size: 20px;
    color: rgb(55, 61, 18);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

#form-phone{
    background-color: rgb(255, 255, 255);
    padding: 11px 10px;
    width: 77%;
    border: 1px solid rgb(212, 212, 210);
    border-radius: 7px;
    font-size: 20px;
    color: rgb(55, 61, 18);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

#loading-bar-image{
    display: none;
}

.success-msg{
    color: green;
    font-size: 24px;
    margin: 7px;
    font-weight: bold;
}

.form-otp-div{
    display: none;
}

#btnSendOtp{
    width: 100%;
    margin-left: 3px;
    padding: 13px 16px;
    border: 1px solid rgb(212, 212, 210);
    border-radius: 3px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: rgb(41, 62, 200);
    font-size: 17px;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 2px 6px rgb(125, 125, 240);
}

.form-otp-div{
    margin-top: 10px;
    width: 100%;
}

#form-otp-inside-div{
    padding: 15px;
    background-color: rgb(232, 231, 231);
    display:inline-flex;
}

#otp_input{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 50%;
    border: 1px solid rgb(212, 212, 210);
    border-radius: 3px;
    font-size: 20px;
    color: rgb(55, 61, 18);
    box-shadow: 2px 2px 6px rgba(40, 133, 92, 0.2);
    text-align: center;
}

#btnVerifyOtp{
    width: 50%;
    margin-left: 3px;
    padding: 13px 16px;
    border: 1px solid rgb(212, 212, 210);
    border-radius: 3px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: rgb(17, 126, 97);
    font-size: 17px;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 2px 6px rgb(125, 125, 240);
}

#form-post{
    width: 95%;
}

.anchor{
    text-decoration: none;
    font-size: 21px;
    color: rgb(32, 31, 31);
    font-weight: bold;
}

.anchor:hover{
    color: rgb(41, 62, 200);
    font-size: 22px;
}

#form-error-msg{
    width: 94%;
    margin: 8px 3% 5px 1%;
    color: red;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
}

#form-submit{
    color: white;
    background-color: rgb(41, 62, 200);
    padding: 10px;
    width: 97.5%;
    margin: 10px 1% 5px 1%;
    font-size: 23px;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 2px 6px rgb(125, 125, 240);
}

#form-submit:hover{
    width: 95%;
    font-size: 24px;
}

#form-login{
    font-size: 20px;
    padding: 5px 10px;
}

@media screen and (max-width:1320px){
    .main-container{
        margin: 0px 15% 0px 15%;
    }

    #countryCodeSelect{
        font-size: 17px;
    }

    #form-post{
        width: 96%;
    }
}

@media screen and (max-width:1240px){
    #btnSendOtp{
        font-size: 14px;
    }

    #countryCodeSelect{
        font-size: 16px;
    }
}

@media screen and (max-width:1080px){
    .main-container{
        margin: 0px 12% 0px 12%;
    }

    .every-form-div div{
        float: none;
        width: 100%;
    }
    .form-gender{
        width: 93%;
    }

    .form-label{
        margin-left: 3.5%;
    }

    .form-label-phone{
        margin-left: 2.5%;
    }
    #phone-div-form-child1{
        float: none;
        width: 94%;
        margin: 0px 2.5%;
    }

    #phone-div-form-child2{
        width: 25%;
        float: none;
        margin: 10px 2.5%;
    }
    #countryCodeSelect{
        font-size: 15px;
    }

    #btnSendOtp{
        font-size: 18px;
    }

    #form-post{
        width: 93%;
    }

    #form-error-msg{
        margin-left: 3.3%;
    }

    #form-submit{
        margin: 10px 2% 5px 2%;
        width: 93%;
    }
}

@media screen and (max-width:850px){
    .main-container{
        margin: 0px 8% 0px 8%;
    }
    .form-gender{
        width: 93.5%;
    }
    #form-post{
        width: 93.5%;
    }
}

@media screen and (max-width:700px){

    .main-container{
        margin: 0px 6.5% 0px 6.5%;
    }

    .form-label{
        margin-left: 3.1%;
    }

    .form-gender{
        width: 94%;
    }

    #phone-div-form-child1{
        display: flex;
        flex-direction: column;
    }
    #phone-div-form-child2{
        width: 50%;
        float: none;
        margin: 0px 2.5%;
    }
    #countryCodeSelect{
        font-size: 20px;
        display: inline-block;
        width: 100%;
    }
    #form-phone{
        margin-top: 5px;
        display: inline-block;
        width: 95%;
    }
    #form-post{
        width: 95%;
    }

    #form-error-msg{
        margin-left: 2.6%;
    }

    #form-submit{
        margin: 10px 1% 5px 1%;
        width: 94%;
    }
}

@media screen and (max-width:600px){
    .main-container{
        margin: 0px 5.5% 0px 5.5%;
    }
    #form-post{
        width: 94%;
    }
}

@media screen and (max-width:500px){
    .main-container{
        margin: 0px 4% 0px 4%;
    }

    .form-label{
        margin-left: 2.3%;
    }

    .form-gender{
        width: 96%;
    }

    #countryCodeSelect{
        display: inline-block;
        width: 100%;
        margin: 0;
    }
    #form-phone{
        margin-top: 5px;
        display: inline-block;
        width: 95%;
    }
    #form-otp-inside-div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #otp_input{
        padding: 10px 5px;
        width: 80%;
        margin-top: 3px;
    }
    #btnVerifyOtp{
        margin-top: 5px;
        width: 84%;
    }
    #form-post{
        width: 95%;
    }

    #form-error-msg{
        margin-left: 2%;
    }
}

@media screen and (max-width:400px){
    .main-container{
        margin: 0px 3% 0px 3%;
    }

    .every-form-div div{
        float: none;
        width: 100%;
    }

    .form-gender{
        width: 98%;
    }

    #form-phone{
        margin-top: 5px;
        display: inline-block;
        width: 90%;
    }

    #countryCodeSelect{
        font-size: 18px;
    }

    .form-label{
        margin-left: 1.6%;
    }

    #otp_input{
        padding: 10px 5px;
        width: 80%;
        margin-top: 3px;
    }
    #btnVerifyOtp{
        margin-top: 5px;
        width: 84%;
    }

    #form-post{
        width: 96%;
    }

    #form-error-msg{
        margin-left: 1.4%;
    }
}

@media screen and (max-width:300px){
    .main-container{
        margin: 0px 5% 0px 5%;
    }

    .every-form-div div{
        float: none;
        width: 100%;
    }

    #form-dob{
        font-size: 17px;
    }

    .form-gender{
        width: 89%;
        font-size: 17px;
    }

    .div-show-password label{
        margin-left: 5px;
        font-size: 17px;
        font-weight: bold;
    }

    #countryCodeSelect{
        font-size: 16px;
    }

    #form-phone{
        margin-top: 5px;
        display: inline-block;
        width: 90%;
        font-size: 17px;
    }

    .success-msg{
        font-size: 23px;
    }

    .form-label{
        margin-left: 5%;
    }

    input[type='text'],input[type='password'],input[type='date'],input[type='email'],input[type='number'],input[type='phone']{
        width: 80%;
    }
    #otp_input{
        padding: 10px 5px;
        width: 85%;
        margin-top: 3px;
    }
    #btnVerifyOtp{
        margin-top: 5px;
        width: 90%;
    }
    #form-post{
        width: 91%;
    }

    #form-error-msg{
        margin-left: 4.7%;
    }
}

@media screen and (max-width:200px){
    .main-container{
        margin: 0px 5% 0px 5%;
    }

    .every-form-div div{
        float: none;
        width: 100%;
    }

    .form-gender{
        width: 80%;
    }
    .div-show-password label{
        margin-left: 5px;
        font-size: 15px;
        font-weight: bold;
    }

    #form-phone{
        margin-top: 5px;
        display: inline-block;
        width: 83%;
        font-size: 15px;
    }
    #phone-div-form-child2{
        width: 75%;
        float: none;
        margin: 0px 2.5%;
    }

    #countryCodeSelect{
        font-size: 14px;
    }

    #otp_input{
        padding: 10px 5px;
        width: 85%;
        margin-top: 3px;
        font-size: 17px;
    }
    #btnVerifyOtp{
        margin-top: 5px;
        width: 90%;
        font-size: 17px;
    }

    input[type='text'],input[type='password'],input[type='date'],input[type='email'],input[type='number'],input[type='phone']{
        width: 60%;
    }
    #form-post{
        width: 80%;
    }
}

@media screen and (max-height:500px){
    html{
        height: 120%;    
    }
    
}

@media screen and (max-height:400px){
    html{
        height: 200%;    
    } 
}